<!-- use this iframe to add navigation bar -->
<!-- <iframe src="template/side_bar.html"  class="side_bar" id="sidebar" style="border: none; width: 250px; margin: 10px 0 10px 10px; display: none;"></iframe> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            height: calc(100vh - 41px);
        }
        .side_bar{
            /* margin: 10px; */
            background: blueviolet;
            padding: 20px;
            border-radius: 10px;
            height: 100%;
            /* width: 100%; */
        }
        .side_bar h3{
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="side_bar">
        <h3>Navigate to</h3>
    </div>
</body>
</html>